.App {
  background-image: url('../Imagenes/fondoprincipal.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size:cover;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: center;
   
}
.botones{
  display: flex;
  flex-direction:row;
  flex-direction: end;  
  font-size: 25px;
}

.App-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: white;
  opacity: 95%;
}
.App-titulo h1{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: blue;
 padding-top: 1%;
 font-style: oblique;
}
.fondo-info{
  background-color: white;
  opacity: 95%;
}
.App-RR{
  background-color: white;
  opacity: 80%;
}

.App-RR p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

.App-RR h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

.App-RR h6{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}


.Card-info{
  margin-left: 3%;
  margin-right: 3%;
}

.App-Info1{
  display: flex;
  flex-direction: row;
  margin: 2%;
}
.App-Info2{
  display: flex;
  flex-direction: row;
  margin: 2%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-link {
  color: #4a0d8a;
  font-size:smaller;
  font-family:'Times New Roman', Times, serif;
}
.stack-proceso{
  padding-left: 155px;
  padding-right: 155px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Img-carrusel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 400px;
}
.App-he{
  background-color: #26272b;
  font-family: Arial, Helvetica, sans-serif;
  color:#fff;
  font-size:20px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
div {
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 4px;
  padding-right: 4px;
}
.App{
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 4px;
  padding-right: 4px;
}
.Proceso-listo{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.procesos-card{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.Bloqueos-Card{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.Finalizado-card{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.App-banner{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.site-footer
{
  background-color:#100f10;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#ffffff;
}

.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#877272;
}
.site-footer a:hover
{
  color:#17181a;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#61619a;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}

.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}


/* CSS */
.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  width: min-content;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}